.faq {
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    color: #fff;
    overflow: hidden;
    padding-bottom: 100px;
    background-color: #121212;
    background-image: url(/media/bg-dots2.png);
}
.wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.faqRow {
    display: flex;
    grid-gap: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.faqContent {
    margin-left: 4rem;
    margin-right: 0;
}
.title {
    max-height: max-content;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    margin: 40px 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: rgb(52 80 170) 2px 0px 0px, rgb(246 0 187 / 70%) -2px 0px 0px, rgb(192 115 185) 0px 0px 4px, rgb(255 255 255) 0px 0px 3px;
}
.faqList {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    grid-gap: 12px;
    gap: 12px;
}
.faqSection {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-light);
    border-radius: 0.375rem;
}
.faqBtn {
    /* background-color: hsla(60,26%,95%,.25); */
    color: #ffff;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    gap: 24px;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: background-color .35s ease;
    cursor: pointer;
    background-color: var(--bg-color-dark);
    padding: 10px 10px;
}
.faqBtn svg {
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    transition: transform .35s ease;
    fill: #fff;
    border: #fff;
}
.faqBtn p {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 5px;
    max-width: none;
    text-align: left;
    /* line-height: 1.5em; */
}
.faqAnswer {
    font-size: 1.25rem;
    overflow: hidden;
    transition: max-height .35s ease-in-out;
    /* max-height: 0px; */
}
.activeAsnwer .faqBtn svg {
    transform: rotate(90deg);
}
.faqText {
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 18px;
}
.faqImg {
    display: block;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    position: relative;
    max-width: 500px;
}
.faqImg img{
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin-top: 50px;
}

.yeet {
    min-height: 100vh;
    overflow: hidden;
}